
.main{
  background-color: rgb(243, 243, 243);
}

.container{

  .balance{
    padding: 2rem;

    .header{
      color: #333;

      div{
        color: #333;
        font-size: 1.7rem;
        font-weight: 600;
      }
    }

    .box-card{
      padding: .6rem;
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .card{
        margin-left: 1%;
        max-width: 20%;
        background-color: rgb(18, 102, 10);
        border: 0;
        border-radius: 2rem;
        box-shadow: 0 1px 7px rgba(0, 0, 0, .24);

        div{
          display: flex;
          position:static;

          .img{
            margin: 2%;
            width: 50px;
            height: 50px;
            margin-bottom: 13%;
          }

          #currency{
            position:static;
            display: block;
            margin-top: 15px;
            margin-left: 60px;
            margin-right: 10px;
            color: #ffffff;
            font-size: 1.7rem;
            font-weight: 500;
          }

        }

        #balance{
          position: static;
          display: block;
          color: #1db924;
          margin-top: 15px;
          margin-left: 10px;
          margin-right: 10px;
          font-size: 1.3rem;
          font-weight: 500;
        }
      }
    }
  }
}

.transactions{
  display: block;
  flex-direction: column;
  height: 20vh;
  font-size: 1rem;
  align-items: center;
  justify-content: center;


  .header{
    display: flex;
    flex-direction: column;
  }

  .content{
    margin: 16px;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    /*justify-content: center;
    align-items: center;*/
    font-size: 2rem;
    color: lightgrey;
    border-radius: 1rem 1rem 0 0;
    height: 300px;
    overflow: scroll;

    .list{
      padding: .5rem 1rem;
      margin: 1%;
      font-size: .8rem;
      background-color: rgb(5, 87, 107);
      align-items: center;
      justify-content: center;
      .box{
        padding: 1rem;
        display: flex;

        .operation{
          display: flex;
        }
      }

    }
  }

}

.content::-webkit-scrollbar{
  width: .5rem;
  height: .2rem;
}

.content::-webkit-scrollbar-track{
  background-color: rgb(8, 8, 8);
  opacity: 1;
}

.content::-webkit-scrollbar-thumb{
  background-color: rgb(19, 148, 73);
  opacity: 1;
}


