
mat-toolbar{
  background-color: #f5f5f5;
  color: #2b2b2b;
}


mat-sidenav-container{
  height: calc(100vh - 65px);
}

mat-sidenav{
  margin: 16px;
  padding: 2rem .5rem;
  width: 10%;
  border-right: none;
  border-radius: 1rem 1rem 0 0;
  background-color: rgb(154, 228, 132);
  color: #1f1f1f;
  font-size: 1rem;
  text-align: left;
}

.mat-sidenav::-webkit-scrollbar{
  width: 1.1rem;
}

.mat-sidenav::-webkit-scrollbar-track{
  background-color: rgb(154, 228, 132);
}

.mat-sidenav::-webkit-scrollbar-thumb{
  background-color: rgb(154, 228, 132);
}


.content{
  height: calc(100vh - 98px);
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: lightgrey;
  border-radius: 1rem 1rem 0 0;
}
